controller:
  ingressClass: ${ingress_class}
  tolerations:
    - key      = ${toleration_key}
      operator = ${toleration_operator}
      value    = ${toleration_value}
      effect   = ${toleration_effect}

      replicaCount: ${replica_count}
%{ if enable_default_tls == true ~}
  config:
    ssl-redirect: "true"
  extraArgs:
    default-ssl-certificate: "${default_tls_secret}"
%{ endif ~}
